@model RoleViewModel

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-widget widget-user-2 shadow-sm">
                        <div class="widget-user-header bg-primary">
                            <h3 class="widget-user-username">
                                Role: @Model.Name
                                <button class="float-right btn btn-lg btn-secondary" onclick="history.back()">Go Back</button>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Menus</h3>
                        </div>

                        <div class="card-body">
                            <div id="menuRolesGrid" style="overflow: visible"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $("#menuRolesGrid").jsGrid({
            height: "500px",
            width: "100%",

            filtering: true,
            sorting: true,
            paging: false,
            inserting: false,
            editing: true,
            autoload: true,

            onItemUpdating: function (args) {
                previousItem = args.previousItem;
            },

            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();

                    if (filter.rowStatus == true) {
                        filter.rowStatus = 1;
                    }
                    else if (filter.rowStatus == false) {
                        filter.rowStatus = 0;
                    }

                    $.ajax({
                        type: "GET",
                        url: "../GetMenus?roleId=" + @Model.Id,
                        data: filter,
                        dataType: "json"
                    }).done(function (response) {
                        d.resolve(response.data);
                    });

                    return d.promise();
                },
                updateItem: function (item) {
                    var d = $.Deferred();

                    if (item.rowStatus == true) {
                        item.rowStatus = 1;
                    }
                    else if (item.rowStatus == false) {
                        item.rowStatus = 0;
                    }

                    $.ajax({
                        type: "PUT",
                        url: "../UpdateMenuRoles?roleId=" + @Model.Id,
                        data: item,
                        dataType: "json"
                    }).done(function (response) {
                        d.resolve(response.data);
                        $(function () { Swal.fire({ icon: 'success', title: 'Success!', text: 'Role updated successfully.' }) });
                    }).fail(function (response) {
                        d.resolve(previousItem);
                        $(function () { Swal.fire({ icon: 'error', title: 'Error!', text: response.data.message }) });
                    });

                    return d.promise();
                }
            },

            fields: [
                { title: "ID", name: "appMenuId", type: "number", width: 50, align: "center", editing: false },
                { title: "Name", name: "menuName", type: "text", editing: false },
                { title: "Selected", name: "isSelected", type: "checkbox", width: 50, filtering: false },
                { type: "control", width: 200, align: "center", editButton: true, deleteButton: false }
            ]
        });
    </script>
}