<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List of User Accounts</h3>
                        </div>

                        <div class="card-body">
                            <div id="usersGrid" style="overflow: visible"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            var jsGridCustomDateTimeField = function (config) {
                jsGrid.Field.call(this, config);
            };

            jsGridCustomDateTimeField.prototype = new jsGrid.Field({
                sorter: function (date1, date2) {
                    return new Date(date1) - new Date(date2);
                },

                itemTemplate: function (value) {
                    if (value === null) {
                        return '';
                    } else {
                        return moment(value).format('DD/MM/YYYY');
                    }
                },

                insertTemplate: function (value) {
                    this._insertPicker = $('<input>').datetimepicker({
                        format: 'DD/MM/YYYY',
                        defaultDate: moment(),
                        widgetPositioning: {
                            horizontal: 'auto',
                            vertical: 'auto'
                        },
                        maxDate: new Date(),
                        icons: {
                            time: 'fa fa-clock-o',
                            date: 'fa fa-calendar',
                            up: 'fa fa-chevron-up',
                            down: 'fa fa-chevron-down',
                            previous: 'fa fa-chevron-left',
                            next: 'fa fa-chevron-right',
                            today: 'fa fa-check',
                            clear: 'fa fa-trash',
                            close: 'fa fa-times'
                        }
                    });

                    this._insertPicker.data('DateTimePicker').date(moment());
                    return this._insertPicker;
                },

                editTemplate: function (value) {
                    this._editPicker = $('<input>').datetimepicker({
                        format: 'DD/MM/YYYY',
                        widgetPositioning: {
                            horizontal: 'auto',
                            vertical: 'auto'
                        },
                        maxDate: new Date(),
                        icons: {
                            time: 'fa fa-clock-o',
                            date: 'fa fa-calendar',
                            up: 'fa fa-chevron-up',
                            down: 'fa fa-chevron-down',
                            previous: 'fa fa-chevron-left',
                            next: 'fa fa-chevron-right',
                            today: 'fa fa-check',
                            clear: 'fa fa-trash',
                            close: 'fa fa-times'
                        }
                    });

                    if (value !== null) {
                        this._editPicker.data('DateTimePicker').defaultDate(moment(value));
                        this._editPicker.data('DateTimePicker').date(moment(value));
                    }
                    return this._editPicker;
                },

                insertValue: function () {
                    var insertValue = this._insertPicker.data('DateTimePicker').date();
                    if (typeof insertValue !== 'undefined' && insertValue !== null) {
                        return insertValue.format('MM/DD/YYYY');
                    } else {
                        return null;
                    }
                },

                editValue: function () {
                    var editValue = this._editPicker.data('DateTimePicker').date();
                    if (typeof editValue !== 'undefined' && editValue !== null) {
                        return editValue.format('MM/DD/YYYY');
                    } else {
                        return null;
                    }
                }
            });

            jsGrid.fields.jsGridCustomDateTimeField = jsGridCustomDateTimeField;

            $("#usersGrid").jsGrid({
                height: "500px",
                width: "100%",

                filtering: true,
                sorting: true,
                paging: false,
                inserting: true,
                editing: true,
                autoload: true,

                onItemUpdating: function (args) {
                    previousItem = args.previousItem;
                },

                controller: {
                    loadData: function (filter) {
                        var d = $.Deferred();

                        if (filter.rowStatus == true) {
                            filter.rowStatus = 1;
                        }
                        else if (filter.rowStatus == false) {
                            filter.rowStatus = 0;
                        }

                        $.ajax({
                            type: "GET",
                            url: "../Auth/GetUsers",
                            data: filter,
                            dataType: "json"
                        }).done(function (response) {
                            d.resolve(response.data);
                        });

                        return d.promise();
                    },
                    insertItem: function (item) {
                        var d = $.Deferred();

                        $.ajax({
                            type: "POST",
                            url: "../Auth/AddUser",
                            data: item,
                            dataType: "json"
                        }).done(function (response) {
                            d.resolve(response.data);
                            $(function () { Swal.fire({ icon: 'success', title: 'Success!', text: 'User ' + response.data.userName + ' has been created successfully with password "' + response.data.password + '".' }) });
                        }).fail(function (response) {
                            $(function () { Swal.fire({ icon: 'error', title: 'Error!', text: response.data.message }) });
                        });

                        return d.promise();
                    },
                    updateItem: function (item) {
                        var d = $.Deferred();

                        if (item.rowStatus == true) {
                            item.rowStatus = 1;
                        }
                        else if (item.rowStatus == false) {
                            item.rowStatus = 0;
                        }

                        $.ajax({
                            type: "PUT",
                            url: "../Auth/UpdateUser/" + item.id,
                            data: item,
                            dataType: "json"
                        }).done(function (response) {
                            d.resolve(response.data);
                            $(function () { Swal.fire({ icon: 'success', title: 'Success!', text: 'User ' + response.data.userName + ' has been updated successfully.' }) });
                        }).fail(function (response) {
                            d.resolve(previousItem);
                            $(function () { Swal.fire({ icon: 'error', title: 'Error!', text: response.data.message }) });
                        });

                        return d.promise();
                    }
                },

                fields: [
                    { title: "ID", name: "id", type: "number", width: 50, align: "center", editing: false, inserting: false },
                    { title: "First Name", name: "firstName", type: "text", validate: "required" },
                    { title: "Last Name", name: "lastName", type: "text", validate: "required" },
                    { title: "Date Of Birth", name: "dateOfBirth", type: "jsGridCustomDateTimeField" },
                    { title: "Email", name: "email", type: "text", validate: "required" },
                    { title: "Phone Number", name: "phoneNumber", type: "text" },
                    { title: "Username", name: "userName", type: "text", editing: false, validate: "required" },
                    { title: "Status", name: "rowStatus", type: "checkbox", width: 50, inserting: false },
                    {
                        title: "Action", align: "center", width: 50,
                        itemTemplate: function (value, item) {
                            var $link = $("<a>").attr("href", "../Auth/UserRoles/" + item.id).text("Roles");
                            return $("<div>").append($link);
                        }
                    },
                    { type: "control", width: 200, align: "center", editButton: true, deleteButton: false }
                ]
            });
        });
    </script>
}