@using Application.Interfaces.Persistence;
@using Microsoft.AspNetCore.Identity
@using WebMVC.Helpers;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IApplicationContext Context
@{
    var currUser = await UserManager.FindByNameAsync(User.Identity.Name);
    var userRoles = await UserManager.GetRolesAsync(currUser);
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link logo-switch">
        <img src="~/assets/img/logo-xs.png" alt="Application Logo Small" class="brand-image-xl logo-xs">
        <img src="~/assets/img/logo-xl.png" alt="Application Logo Large" class="brand-image-xs logo-xl" style="left: 12px">
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @if (currUser.ProfilePicture != null)
                {
                    <img src="data:image/*;base64,@(Convert.ToBase64String(currUser.ProfilePicture))" class="img-circle elevation-2" alt="User Image" style="width:40px;height:40px; object-fit:cover; border-radius:100%">
                }
                else
                {
                    <img class="img-circle elevation-2" src="~/assets/img/avatar.png" alt="Profile Picture" style="width:40px;height:40px; object-fit:cover; border-radius:100%">
                }
            </div>
            <div class="info">
                <a href="#" class="d-block">@currUser.FirstName @currUser.LastName</a>
            </div>
        </div>
        <div class="form-inline mt-2">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
                @Html.Raw(MenuHelper.RenderMenu(Html, Context, userRoles))
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-header">User Management</li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Auth" asp-action="Users" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>User Manager</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Auth" asp-action="Roles" class="nav-link">
                            <i class="nav-icon fas fa-user-tag"></i>
                            <p>Role Manager</p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>
