@using Application.Interfaces.Persistence;
@using Microsoft.AspNetCore.Identity
@using WebMVC.Helpers;
@inject SignInManager<ApplicationUser<string>> SignInManager
@inject UserManager<ApplicationUser<string>> UserManager
@inject IApplicationContext Context
@{
    var currUser = await UserManager.FindByNameAsync(User.Identity.Name);
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link logo-switch">
        <img src="~/assets/img/logo-xs.png" alt="Application Logo Small" class="brand-image-xl logo-xs">
        <img src="~/assets/img/logo-xl.png" alt="Application Logo Large" class="brand-image-xs logo-xl" style="left: 12px">
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@currUser.FirstName @currUser.LastName</a>
            </div>
        </div>
        <div class="form-inline mt-2">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
                @Html.Raw(MenuHelper.renderMenu(Html, Context))
                <li class="nav-header">User Management</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>User Manager</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tag"></i>
                        <p>Role Manager</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>Menu Manager</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
