<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Physical Inventory Adjustment</h3>
                        </div>

                        <div class="card-body">
                            <div id="inventoryGrid" style="overflow: visible"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Styles{
}

@section Scripts{
    <script>
        $("#inventoryGrid").jsGrid({
            height: "500px",
            width: "100%",

            filtering: true,
            sorting: true,
            paging: true,
            editing: true,
            autoload: true,

            pageSize: 5,
            pageButtonCount: 5,

            onItemUpdating: function (args) {
                previousItem = args.previousItem;
            },

            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();

                    if (filter.rowStatus == true) {
                        filter.rowStatus = 1;
                    }
                    else if (filter.rowStatus == false) {
                        filter.rowStatus = 0;
                    }

                    $.ajax({
                        type: "GET",
                        url: "../Inventories/GetInventoryStocks",
                        data: filter,
                        dataType: "json"
                    }).done(function (response) {
                        d.resolve(response.data);
                    });

                    return d.promise();
                },
                updateItem: function (item) {
                    var d = $.Deferred();

                    if (item.rowStatus == true) {
                        item.rowStatus = 1;
                    }
                    else if (item.rowStatus == false) {
                        item.rowStatus = 0;
                    }

                    $.ajax({
                        type: "PUT",
                        url: "../Inventories/UpdateInventoryStock/" + item.id,
                        data: item,
                        dataType: "json"
                    }).done(function (response) {
                        d.resolve(response.data);
                        $(function () { Swal.fire({ icon: 'success', title: 'Success!', text: 'User ' + response.data.userName + ' has been updated successfully.' }) });
                    }).fail(function (response) {
                        d.resolve(previousItem);
                        $(function () { Swal.fire({ icon: 'error', title: 'Error!', text: response.data.message }) });
                    });

                    return d.promise();
                }
            },

            fields: [
                { title: "ID", name: "id", type: "number", width: 50, align: "center", editing: false },
                { title: "Product Code", name: "productCode", type: "text", editing: false },
                { title: "Name", name: "name", type: "text", editing: false },
                { title: "Stock", name: "stock", type: "number", validate: { message: "Please insert valid number.", validator: function (value) { return (value != null && value != "" && value != undefined && value >= 0) } } },
                { type: "control", width: 200, align: "center", editButton: true, deleteButton: false }
            ]
        });
    </script>
}