<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <form method="get" asp-action="SearchOrderToChange">
                            <div class="card-header">
                                <h3 class="card-title">Search Document Number</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="orderNumber" class="col-sm-2 col-form-label">Document No.</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="orderNumber" name="orderNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" id="btnSearch" class="btn btn-secondary float-right">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>