@model string

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Order Header</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="customerName" class="col-sm-2 col-form-label">Customer Name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="customerName" name="customerName" disabled readonly>
                                </div>
                                <label for="orderType" class="col-sm-2 col-form-label">Order Type</label>
                                <div class="col-sm-4">
                                    <select class="form-control select2" id="select_orderType" name="orderType" disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="customerAddress" class="col-sm-2 col-form-label">Customer Address</label>
                                <div class="col-sm-4">
                                    <textarea class="form-control" id="customerAddress" name="customerAddress" rows="3" disabled readonly></textarea>
                                </div>
                                <label for="paymentType" class="col-sm-2 col-form-label">Payment Type</label>
                                <div class="col-sm-4">
                                    <select class="form-control select2" id="select_paymentType" name="paymentType" disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Order Details</h3>
                        </div>

                        <div class="card-body">
                            <div id="orderDetailGrid" style="overflow: visible"></div>
                        </div>

                        <div class="card-footer">
                            <button id="backBtn" class="btn btn-secondary float-right" onclick="history.back()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Styles{
}

@section Scripts{
    <script>
        $.ajax({
            type: 'GET',
            url: '../Sales/GetSalesOrderByOrderNumber?orderNumber=@Model',
            dataType: 'json',
            success: function (response) {
                var jsGridCustomDateTimeField = function (config) {
                    jsGrid.Field.call(this, config);
                };

                jsGridCustomDateTimeField.prototype = new jsGrid.Field({
                    sorter: function (date1, date2) {
                        return new Date(date1) - new Date(date2);
                    },

                    itemTemplate: function (value) {
                        if (value === null) {
                            return '';
                        } else {
                            return moment(value).format('DD/MM/YYYY');
                        }
                    }
                });

                jsGrid.fields.jsGridCustomDateTimeField = jsGridCustomDateTimeField;

                document.getElementById('customerName').value = response.data[0].customerName;
                document.getElementById('customerAddress').value = response.data[0].customerAddress;
                GetAndSetOrderTypes(response.data[0].orderTypeId);
                GetAndSetPaymentTypes(response.data[0].paymentTypeId);
                GetProducts().then((data) => {
                    $("#orderDetailGrid").jsGrid({
                        height: "300px",
                        width: "100%",

                        paging: false,
                        inserting: false,
                        editing: false,

                        data: response.data[0].salesOrderDetails,

                        fields: [
                            { title: "Product", name: "productId", type: "select", items: data, valueField: "id", textField: "name", validate: "required" },
                            { title: "Quantity", name: "quantity", type: "number", validate: "required" },
                            { title: "Price", name: "price", type: "number", width: 50, validate: "required" },
                            { title: "Delivery Date", name: "deliveryDate", type: "jsGridCustomDateTimeField", width: 50, validate: "required" },
                            { title: "Note", name: "notes", type: "text", width: 200 }
                        ]
                    });
                });
            }
        });
    </script>
}